<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <section>
    <% if (profile.avatar) { %>
      <div>
        <img 
          class="profile-avatar"
          src="<%= profile.avatar %>" 
          alt="<%= profile.name %> avatar"
        >
      </div>
    <% } %>
    <ul>
      <% profile.myWatches.forEach(watch => { %> 
        <li><%= watch.brand + watch.model %> </li>
        <% }) %> 
    </ul>
  </section>
  <form 
  id="add-watch-to-my-watches"
  action="/profiles/<%= profile._id %>"
  method="POST"
  >
    <select name="watchId">
      <% watches.forEach(watch => { %>
        <option value="<%= watch._id %>"><%= `${watch.brand} ${watch.model}` %></option>
        <% }) %> 
    </select>
    <button type="submit">Add to My watches</button>
    <button type="submit">Add to My wishlist</button>
  </form>
</main>

<%- include('../partials/footer') %>