<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/public/stylesheets/watches/edit.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <form
  id="new-form"
  action="/watches/<%= watch._id %>?_method=PUT"
  method="POST"
  >
  <label for="brand-input">Brand:</label>
  <input type="text" name="brand" value="<%= watch.brand %> " id="brand-input" />
  <label for="model-input">Model:</label>
  <input type="text" name="model" value="<%= watch.model %> " id="model-input" />
  <label for="type-select">Type:</label>
  <select name="type" id="type-select">
    <option value="Analog">Analog</option>
    <option value="Digital">Digital</option>
    <option value="Smart">Smart</option>
  </select>
  <label for="complications-input">Complications</label>
  <input type="text" name="complications" value="<%= watch.complications %> " id="complications-input">
  <button type="submit">Save Watch</button>
  </form>
</main>

<%- include('../partials/footer') %>