<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/public/stylesheets/watches/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <table id="list">
    <thead>
      <tr>
        <th>Brand</th>
        <th>Model</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% watches.forEach(watch => { %>
          <tr>
            <td><%= watch.brand %></td>
            <td><%= watch.model %> </td>
            <td><a href="/watches/<%= watch._id %>">DETAILS</a></td>
            <td>
              <% if (watch.owner.equals(user?.profile._id)) { %> 
              <form action="/watches/<%= watch._id %>?_method=DELETE" method="POST">
                <button>X</button>
              </form>
              <% } %> 
            </td>
          </tr>
        <% }) %> 
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %> 