<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/public/stylesheets/watches/show.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <section>
      <div>Brand: <%= watch.brand %></div>
      <div>Model: <%= watch.model %></div>
      <div>Type: <%= watch.type %></div>
      <div>complications: <%= watch.complications %></div>
      <a href="/watches/<%= watch._id %>/edit">
        <button>Reconfigure Watch</button>
      </a>
  </section>
</main>

<%- include('../partials/footer') %> 